<template>
	<b-row>
		<b-col>
			<h1>Dashboard</h1>
			<spinner size="medium" v-if="!dataForChart"></spinner>
			<DashboardWidget v-if="dataForChart" :options="chartOptions" :data="dataForChart" />			
		</b-col>
	</b-row>
</template>

<script>
import axios from 'axios'
import Spinner from 'vue-simple-spinner'
import DashboardWidget from '@/components/DashboardWidget'
export default {
	components: {Spinner, DashboardWidget},
	data: function(){
		return {
			statData: [],
			formData: {
				dateStart: this.$route.query.datestart ? new Date(this.$route.query.datestart * 1000) : new Date(new Date(new Date().setDate(new Date().getDate() - 7)).setHours(0,0,0,0)),
				dateEnd: this.$route.query.dateend ? new Date(this.$route.query.dateend * 1000) : new Date(new Date().setHours(23,59,59,0))
			},
			chartOptions: {
				responsive: true,
				maintainAspectRatio: false
			}
		}
	},
	computed: {
		dataToSend: function(){
			return {
				datestart: (this.formData.dateStart.getTime()/1000).toFixed(0),
				dateend: (this.formData.dateEnd.getTime()/1000).toFixed(0),
			}
		},
		dataForChart: function(){
			if(!this.statData)
				return null;
			let datasets = [];
			let labels = [];
			let i = 0;
			let notToShow = ['sum', 'partnerPayout'];
			let labelsKey = 'date';
			let colors = ['#39a067', '#3975a0', '#a03939'];
			for(let key in this.statData[0]) {
				if (!notToShow.includes(key) && key != labelsKey)
					datasets[i] = {label: key, backgroundColor: colors[i] || this.generateColorHex(key), data: []};
				else
					i--;
				this.statData.forEach(function(el, index, arr){
					if ((!notToShow.includes(key) && key != labelsKey) && index != arr.length - 1)
						datasets[i].data.push(el[key]);
					else if(key == labelsKey && index != arr.length - 1)
						labels.push(el[key]);
				});
				i++;
			}
			//console.log(datasets);

			return {labels: labels, datasets: datasets};
		}
	},
	methods: {
		getStats: function(){
			var self = this;
			this.statData = null;
			this.$router.replace({query: this.dataToSend});
			axios
				.get(this.$store.state.apiDomain + 'stats/daily', 
				{
					params: this.dataToSend,
					headers: {
						Authorization: `Bearer ${this.$store.state.token}`
					}
				})	
				.then(function(response){
					self.statData = response.data;
				})
				.catch(function(error){
					if(error.response.status === 403) {
						self.$store.state.token = null;
						localStorage.removeItem('token');
						self.$router.push({name: 'Login'});
					}
				});
		},
		generateColorHex: function(str){
		    let hex = "", i;
		    for (i = 0; i < str.length; i++) {
		        hex += str.charCodeAt(i).toString(16);
		    }
		    return `#${hex.substring(0, 6)}`;
		}
	},
	created: function(){
		this.getStats();
	}
}
</script>

<style scoped>

</style>
