<template>
	<div>
		<p :class="rowParams.key" v-if="(model.index != rowData.index || rowParams.disabled ) && rowParams.type != 'select'"><slot></slot></p>
		<b-form-input 
			v-if="model.index == rowData.index && !rowParams.disabled && rowParams.type == 'input'"
			v-model="model[rowParams.key]"
			:placeholder="rowParams.placeholder"
			:value="rowData.value"
			@keyup.native.enter="$emit('save-row')"
			@change="$emit('clear-error')"
			:name="rowParams.key" 
			:required="rowParams.key == 'name'"
			:state="(error.index == rowData.index && error.name == rowParams.key) ? false : null" 
		/>
		<b-form-text v-if="rowParams.hint && model.index == rowData.index && !rowParams.disabled && rowParams.type == 'input'">{{ rowParams.hint }}</b-form-text>
		<b-form-select 
			v-if="rowParams.type == 'select' && (model.index != rowData.index || rowParams.disabled)"
			v-model="rowData.value"
			:disabled="true"
			:options="rowParams.options"
			:state="(error.index == rowData.index && error.name == rowParams.key) ? false : null"  
		/>
		<b-form-select 
			v-if="rowParams.type == 'select' && model.index == rowData.index && !rowParams.disabled"
			v-model="model[rowParams.key]"
			:options="rowParams.options"
			:state="(error.index == rowData.index && error.name == rowParams.key) ? false : null"  
		/>
	</div>
</template>

<script>
	export default {
		props: ['rowData', 'rowParams', 'model', 'error']
	}
</script>

<style scoped>
p {
	margin: 0;
}
@media (max-width: 576px){
	p.url {
		max-width: 60%;
		margin: 0;
		word-wrap: break-word;
	}
}
</style>