<template>
	<b-table 
		v-if="tableItems"
		striped 
		hover
		responsive="lg"
		stacked="sm"
		:items="tableItems" 
		:fields="tableStruct" 
		:filter="filter" 
		@row-hovered="rowHovered">
		<template v-for="tableSetting in tableStruct" :slot="tableSetting.key" slot-scope="data">
			<EditableTableRow
				:rowData="data"
				:rowParams="tableSetting"
				:model="columnEditing" 
				@save-row="saveRow(data.index)"
				@clear-error="error.index=null"
				:error="error" >
				{{ data.value }}
			</EditableTableRow>
		</template>
		<template slot="state" slot-scope="data" class="actions_row" v-show="data.index == hovered">
			<b-button size="sm" v-if="data.value == 'error' && columnEditing.index != data.index" @click.stop="syncUpdating" variant="danger">
        		Retry
        	</b-button>
        	<b-button size="sm" v-if="data.value == 'syncing' || data.value=='initial'" @click.prevent>
        		<spinner size="small"></spinner>
        	</b-button>
			<b-button size="sm" v-if="data.value == 'synced' && columnEditing.index != data.index || data.value == 'error'" @click.stop="editRow(data.index)" variant="primary">
        		Edit 
        	</b-button>
        	<b-button size="sm" v-if="dataType == 'partners' && data.value == 'synced' && columnEditing.index != data.index" :to="[dataType, data.item.id, 'postbacks'].join('/')" variant="link">
        		Show postbacks 
        	</b-button>
        	<b-button size="sm" v-if="columnEditing.index == data.index" @click.stop="saveRow(data.index)" variant="success">
        		Save
        	</b-button>
        	<b-button size="sm" v-if="columnEditing.index == data.index" @click.stop="cancelSaveRow(data.index)" variant="outline-secondary">
        		Cancel
        	</b-button>
		</template>
	</b-table>
</template>

<script>
	import axios from 'axios'
	import Spinner from 'vue-simple-spinner'
	import EditableTableRow from '@/components/EditableTableRow'
	export default {
		props: {
			tableData: {
				type: Array
			},
			tableStruct: {
				type: Array
			}, 
			filter: {
				type: String
			},
			dataType: {
				type: String
			},
			dataTypeParent: {
				type: String
			},
			dataTypeParentId: {
				type: Number
			},
		},
		components: { Spinner, EditableTableRow },
		data: function(){
			return {
				columnEditing: {},
				error: {
					name: 'name',
					index: null
				},
				hovered: null
			}
		},
		computed: {
			tableItems: function(){
				let tableItemsLoc = [];
				if(this.tableData)
					this.tableData.forEach(function(el, i){
						tableItemsLoc[i] = el;
						if(!tableItemsLoc[i].state) 
							tableItemsLoc[i].state = 'synced';
					});
				return tableItemsLoc;
			}
		},
		methods: {
			makeAPIRequest: function(reqType = 'get', method = this.dataType, body = null, onFinish, onError) {
				var self = this;
				//console.log(onError);
				axios({
					method: reqType,
					url: `${this.$store.state.apiDomain}${method}`,
					data: body,
					headers: {
						Authorization: `Bearer ${this.$store.state.token}`
					}
				})
				.then(onFinish)
				.catch(onError);
			},
			editRow: function(index){
				//console.log(data);
				let self = this;
				this.tableItems.forEach(function(el, i){
					if(el.state == 'editing' || el.state == 'new')
						self.cancelSaveRow(i);
				});
				this.columnEditing.index = index;
				this.tableItems[index].state = 'editing';
			},
			saveRow: function(index){
				let wasChanged = false;
				for(let k in this.tableStruct){
					let key = this.tableStruct[k].key;
					if(this.tableStruct[k].required && this.columnEditing[key] !== 0 && !this.columnEditing[key] && !this.tableItems[index][key] && !this.tableStruct[k].ifNull) {
						this.error.index = index;
						this.error.name = key;

						return;
					}
				}
				this.error.index = null;

				for(let k in this.columnEditing){
					if(this.columnEditing[k] != this.tableItems[k] && k != 'index') {
						this.tableItems[index][k] = this.columnEditing[k];
						this.columnEditing[k] = null;
						wasChanged = true;
					}
				}
				if (wasChanged){
					this.addToUpdating(index);
					this.columnEditing.index = null;
				}
				else
					this.cancelSaveRow(index);				
			},
			cancelSaveRow: function(index){
				if(this.tableItems[index].state == 'new')
					this.tableData.splice(index, 1);
				else
					this.tableItems[index].state = 'synced';
				for(let k in this.columnEditing)
					this.columnEditing[k] = null;
				this.error.index = null;
			},
			addRow: function(){
				let isNewAdded = false;
				let self = this;
				this.tableItems.forEach(function(el, i){
					if(el.state == 'new') {
						self.cancelSaveRow
						isNewAdded = true;
					}
					else if (el.state == 'editing') {
						self.cancelSaveRow(i);
					}
				});
				if (!isNewAdded) {
					this.columnEditing.index = this.tableItems.length;
					this.tableData.push({});
					this.tableItems[this.columnEditing.index].state = 'new';
					// console.log(this.tableItems[this.columnEditing.index]);
				}
				
			},
			getTableItems: function() {
				let self = this;
				this.makeAPIRequest('get', self.dataType, null, function(response){self.tableData = response.data});
			},
			addToUpdating: function(id) {
				this.tableItems[id].state = 'initial';
				this.syncUpdating();
			},
			syncUpdating: function(){
				let self = this;
				this.tableItems.forEach(function(el, i){
					if(el.state == 'initial' || el.state == 'error') {
						el.state = 'syncing';
						let parentEl = el;
						self.$forceUpdate();
						let parentUrl = self.dataTypeParent ? `${self.dataTypeParent}/${self.dataTypeParentId}/` : '';
						self.makeAPIRequest(
							`${el.id ? 'post' : 'put'}`, 
							`${parentUrl}${self.dataType}/${el.id ? el.id : 'new'}`, 
							self.prepareToSend(el, self.tableStruct),
							function(response){
								el.state = 'synced';
								//console.log(response.data);
								self.syncWithUpdated(el, response.data);
								self.$forceUpdate();
							},
							function(error) {
								if(error.response && error.response.status === 403) {
									self.$store.state.token = null;
									localStorage.removeItem('token');
									self.$router.push({name: 'Login'});
								}
								el.state = 'error';
								self.$forceUpdate();
							});
					} 
				});
			},
			prepareToSend: function(obj, model) {
				let preparedObject = {};
				for(let index in model){
					let key = model[index].key;
					if(model[index].sync) {
						preparedObject[key] = obj[key] || obj[key] === 0 ? obj[key] : (model[index].ifNull || null);
					}
				}
				return preparedObject;
			},
			syncWithUpdated: function(el, updatedEl){
				for(let key in updatedEl){
					el[key] = updatedEl[key];
				}
			},
			rowHovered: function(item, index, event){
				this.hovered = index;
			}
		},
		watch: {
		},
		created: function(){
			this.columnEditing = {
				index: null
			};
			for(let key in this.tableStruct){
				this.columnEditing[this.tableStruct[key].key] = null;
			}
		}
	}
</script>