<template>
	<b-container fluid>
		<b-row>
			<b-col>
				<h1>{{$route.name}}</h1>
			</b-col>
		</b-row>
		<b-row>
			<b-col cols="4">
				<b-form @submit.prevent="postCtns" id="form">
					<b-form-group
						label="CTNs"
						class="inline-form">
						<b-form-textarea v-model="ctns" placeholder="Enter ctns and occerences tab-separated" :rows="6" :max-rows="6"></b-form-textarea>
					</b-form-group>
					<b-form-group
						class="inline-form">
            <b-button
              @click="ctns = ctnsAnalyzed = null"
              variant="secondary"
              :disabled="!ctnsArray">
              Clear
            </b-button>
            <b-button
              @click="analyzeCtns"
              variant="primary"
              :disabled="!ctnsArray">
              Analyze
            </b-button>
           	<b-button
							type="submit"
							variant="success"
							:disabled="!ctnsArray">
              Submit
            </b-button>
					</b-form-group>
				</b-form>
			</b-col>
			<b-col :cols="8" v-if="ctnsArray">
        <h3>Current CTNs</h3>
				<spinner size="medium" v-if="loading2"></spinner>
				<b-table
					striped
					hover
          :sortable="true"
					responsive="lg"
					stacked="sm"
					:items="ctnsAnalyzed || ctnsPreview"
					v-if="ctnsArray"
					id="statTable">
				</b-table>
			</b-col>
			<b-col :cols="ctnsArray ? 12 : 8">
        <h3>All fraud sources</h3>
				<spinner size="medium" v-if="loading"></spinner>
				<b-table
					striped
					hover
					responsive="lg"
					stacked="sm"
					:items="fraudSources"
					v-if="fraudSources"
					id="statTable">
				</b-table>
			</b-col>
		</b-row>

		<b-row>

		</b-row>
	</b-container>
</template>

<script>
	import Spinner from 'vue-simple-spinner'
	import axios from 'axios'
	export default {
		name: "Fraud",
		components: { Spinner },
		data: function() {
			return {
				apiURL: '/fraud/ctn',
				ctns: null,
        ctnsAnalyzed: null,
				result: [],
				loading: true,
        loading2: false,
				currentId: 0,
				fraudSources: null
			};
		},
		methods: {
			getSources: function () {
				this.loading = true;
				let self = this;
				axios({
					method: 'get',
					url: `${this.$store.state.apiDomain}fraud/sources`,
					headers: {
						Authorization: `Bearer ${this.$store.state.token}`
					},
					timeout: 7000
				})
					.then(function(response){
						self.fraudSources = response.data;
            self.loading = false;
					})
					.catch(function(error){
						if(error.response.status === 403) {
							self.$store.state.token = null;
							localStorage.removeItem('token');
							self.$router.push({name: 'Login'});
						}
					});
			},
			postCtns: function () {
				this.loading2 = true;
				var self = this;
				axios({
					method: 'post',
					url: `${this.$store.state.apiDomain}fraud/ctns`,
					headers: {
						Authorization: `Bearer ${this.$store.state.token}`
					},
					data: this.ctnsArray,
					timeout: 7000
				})
				.then(function(response){
          self.loading2 = false;
          self.ctns = null;
          self.ctnsAnalyzed = null;
          self.getSources();
				})
				.catch(function(error){
					if(error.response.status === 403) {
						self.$store.state.token = null;
						localStorage.removeItem('token');
						self.$router.push({name: 'Login'});
					}
				});
			},
      analyzeCtns: function () {
			  this.loading2 = true;
			  var self = this;
        axios({
          method: 'post',
          url: `${this.$store.state.apiDomain}fraud/ctns/analyze`,
          headers: {
            Authorization: `Bearer ${this.$store.state.token}`
          },
          data: this.ctnsArray,
          timeout: 7000
        })
          .then(function(response){
            self.ctnsAnalyzed = response.data;
            self.loading2 = false;
          })
          .catch(function(error){
            if(error.response.status === 403) {
              self.$store.state.token = null;
              localStorage.removeItem('token');
              self.$router.push({name: 'Login'});
            }
          });
      }
		},
		computed: {
			ctnsArray: function () {
				if(!this.ctns)
					return null;
				return this.ctns.split('\n');

			},
      ctnsPreview: function(){
			  let arr = [];
			  if(this.ctnsArray)
          this.ctnsArray.forEach(function (el) {
            arr.push({ctn: el});
          });
			  return arr;
      }
		},
		created: function () {
			this.getSources();
		}
	}
</script>

<style scoped>

</style>
