<template>
    <div class="home">
      <div class="logo-wrapper">
        <b-img src="static/logo.png" fluid alt="Responsive image" />
      </div>
      <b-button to="/login" variant="outline-primary" size="lg">Client login</b-button>
    </div>
</template>

<script>
    export default {
        name: "Home",
        created: function () {
          if (this.$store.state.token)
            this.$router.push({name: 'Dashboard'});
        }
    }
</script>

<style scoped>
  .home {
    text-align: center;
  }
</style>
