<template>
	<div>
    <b-row align-h="center">
      <b-img src="static/logo-small.png" fluid></b-img>
    </b-row>
		<b-row align-h="center">
			<b-col cols="6" md="4">
				<b-form @submit.prevent="onSubmit">
					<b-form-group id="unameInputGroup"
						label="Username:"
						label-for="unameInputGroup" >
							<b-form-input id="username"
								type="text"
								v-model="form.username"
								autocomplete="username"
								required
								placeholder="Enter username"
								:state="isDataCorrect"
								@input="isDataCorrect=null"
								aria-describedby="errorBlock">
							</b-form-input>
							<b-form-invalid-feedback id="errorBlock">
							<!-- This will only be shown if the preceeding input has an invalid state -->
							{{ errorText }}
						</b-form-invalid-feedback>
					</b-form-group>
					<b-form-group id="passInputGroup"
						label="Password:"
						label-for="passInputGroup" >
							<b-form-input id="password"
								type="password"
								v-model="form.password"
								autocomplete="current-password"
								required
								placeholder="Enter password"
								:state="isDataCorrect" 
								@input="isDataCorrect=null" >
							</b-form-input>
					</b-form-group>
					<b-button type="submit" variant="primary">
						<spinner size="small" v-if="isLoading"></spinner>
						<span v-else>Login</span>
					</b-button>
				</b-form>
			</b-col>
		</b-row>
	</div>
</template>

<script>
	import axios from 'axios'
	import Spinner from 'vue-simple-spinner'

	export default {
		components: { Spinner },
		data: function(){
			return {
				form: {
					username: null,
					password: null
				},
				isLoading: false,
				isDataCorrect: null,
				errorText: null
			};
		},
		methods: {
			onSubmit: function(){
				var redirect = (this.$route.query.redirect ? this.$route.query.redirect : '/dashboard');
				var self = this;
				this.isLoading = true;
				axios
						.post(this.$store.state.apiDomain + 'auth/login', this.form)
						.then((response) => {
							if(response.status === 200) {
								let payload = JSON.parse(atob(response.data.token.split('.')[1]));

								localStorage.token = response.data.token;
								this.$store.state.token = response.data.token;
								localStorage.user = payload.username;
								this.$store.state.user = payload.username;
								this.$store.state.tokenExpires = payload.exp;

								this.$router.push(redirect);
							}							
						})
						.catch((error) => {
							this.isLoading = false;
							this.isDataCorrect = false;
							this.errorText = error.response.data.error;
						});
			}
		}
	}
</script>

<style>

</style>
