<template>
<b-navbar toggleable="md" type="dark" variant="info">

	<b-navbar-toggle target="nav_collapse"></b-navbar-toggle>

  <b-navbar-brand to="/"><b-img class="logo" src="static/logo-cropped.png"></b-img></b-navbar-brand>

	<b-collapse is-nav id="nav_collapse">

		<b-navbar-nav>
			<b-nav-item to="/">Home</b-nav-item>
			<b-nav-item-dropdown right>
				<!-- Using button-content slot -->
				<template slot="button-content">
					<em>Stats</em>
				</template>
				<b-dropdown-item to="/stats/daily">Daily</b-dropdown-item>
				<b-dropdown-item to="/stats/hourly">Hourly</b-dropdown-item>
				<b-dropdown-item to="/stats/partners">Partners</b-dropdown-item>
        <b-dropdown-item to="/stats/subpartners">Subpartners</b-dropdown-item>
				<b-dropdown-item to="/stats/sites">Sites</b-dropdown-item>
        <b-dropdown-item to="/stats/sources">Sources</b-dropdown-item>
			</b-nav-item-dropdown>
			<b-nav-item-dropdown right>
				<!-- Using button-content slot -->
				<template slot="button-content">
					<em>Analytics</em>
				</template>
				<b-dropdown-item to="/analytics/daily">Daily</b-dropdown-item>
				<b-dropdown-item to="/analytics/partners">Partners</b-dropdown-item>
				<b-dropdown-item to="/analytics/sites">Sites</b-dropdown-item>
        <b-dropdown-item to="/analytics/subpartners">Subpartners</b-dropdown-item>
        <b-dropdown-item to="/analytics/sources">Sources</b-dropdown-item>
			</b-nav-item-dropdown>
			<b-nav-item  to="/sites">Sites</b-nav-item>
			<b-nav-item  to="/partners">Partners</b-nav-item>
      <b-nav-item  to="/fraud">Fraud</b-nav-item>
		</b-navbar-nav>


		<!-- Right aligned nav items -->
		<b-navbar-nav class="ml-auto">
			<b-nav-item href="#" @click="logout">Logout</b-nav-item>
		</b-navbar-nav>

	</b-collapse>
</b-navbar>
</template>

<script>
  export default {
    methods: {
      logout: function () {
        this.$store.state.token = null;
        localStorage.removeItem('token');
        this.$router.push({name: 'Login'});
      }
    }
  }
</script>

<style scoped>
  .logo {
    height: 30px;
  }
</style>
