<template>
	<div>

		<b-container fluid @keyup.esc="cancelSaveRow" v-if="partners">
			<b-row>
				<b-col cols="12" md="8">
					<h1>Partners list <b-button variant="outline-primary" size="sm" @click.stop="$refs.partnerTableMain.addRow">Add new</b-button></h1>
				</b-col>
				<b-col cols="12" md="4">
					<b-form @submit.prevent>
						<b-form-input v-model="filter" placeholder="Type to filter" @keyup.native.esc="filter = null" />
					</b-form>
				</b-col>
			</b-row>
			<b-row>
				<b-col>
					<b-form @submit.prevent="onFormSubmit" v-if="partners">
						<EditableTable 
							:tableData="partners" 
							:filter="filter" 
							:tableStruct="tableStruct" 
							ref="partnerTableMain" 
							dataType="partners" 
						/>
					</b-form>
				</b-col>
			</b-row>
			<b-row>
				<b-col :style="{textAlign: 'center'}">
					
				</b-col>
			</b-row>
		</b-container>
		<b-container fluid v-else>
			<spinner size="medium" v-if="!partners"></spinner>
		</b-container>
	</div>
</template>

<script>
	import axios from 'axios'
	import Spinner from 'vue-simple-spinner'
	import EditableTable from '@/components/EditableTable'

	export default {
		components: {Spinner, EditableTable},
		data: function(){
			return {
				filter: null,
				partners: null,
				tableStruct: [
					{
						key: 'id', label: 'ID', sync: true, disabled: true, required: false
					},
					{
						key: 'name', label: 'Partner\'s Name', sync: true, required: true, placeholder: 'Enter partner\'s name', type: 'input'
					},
					{
						key: 'contactEmails', label: 'Contact emails', sync: true, required: false, placeholder: 'Enter emails separated by comma', type: 'input'
					},
          {
            key: 'emailFraud', label: 'Email fraud list', sync: true, required: false, type: 'select', options:
              [
                { text: 'disabled', value: 0 },
                { text: 'enabled', value: 1 }
              ]
          },
					{
						key: 'state', label: 'Actions', sync: false, required: false
					}
				],
			}
		},
		methods: {
			getPartners: function(){
				//console.log(this.$root.$options.router.options.routes);
				var self = this;
				axios({
					method: 'get',
					url: `${this.$store.state.apiDomain}partners`,
					headers: {
						Authorization: `Bearer ${this.$store.state.token}`
					},
					timeout: 7000
				})
				.then(function(response){
					self.partners = response.data;
				})
				.catch(function(error){
					if(error.response.status === 403) {
						self.$store.state.token = null;
						localStorage.removeItem('token');
						self.$router.push({name: 'Login'});
					}
					console.log(error);
				});
			}
		},
		created: function(){
			this.getPartners();
		}
	}

</script>
