<template>
	<div>
	<b-container fluid @keyup.esc="cancelSaveRow" v-if="postbacks">
		<b-row>
			<b-col cols="12" md="8">
				<h1 class="">Postbacks list for partner ID {{ this.$route.params.id }} <b-button variant="outline-primary" size="sm" @click.stop="$refs.postbacksTableMain.addRow">Add new</b-button></h1>
			</b-col>
			<b-col cols="12" md="4">
				<b-form @submit.prevent>
					<b-form-input v-model="filter" placeholder="Type to filter" @keyup.native.esc="filter = null" />
				</b-form>
			</b-col>
		</b-row>
		<b-row>
			<b-col>
				<b-form @submit.prevent="onFormSubmit" v-if="postbacks">
					<EditableTable 
						:tableData="postbacks" 
						:filter="filter" 
						:tableStruct="tableStruct" 
						ref="postbacksTableMain" 
						dataType="postbacks"
						dataTypeParent="partners"
						:dataTypeParentId="+this.$route.params.id"
					/>
				</b-form>
			</b-col>
		</b-row>
		<b-row>
			<b-col :style="{textAlign: 'center'}">
				
			</b-col>
		</b-row>
	</b-container>
	<b-container fluid v-else>
		<spinner size="medium" v-if="!postbacks"></spinner>
	</b-container>
	</div>
</template>

<script>
	import axios from 'axios'
	import Spinner from 'vue-simple-spinner'
	import EditableTable from '@/components/EditableTable'

	export default {
		components: {Spinner, EditableTable},
		data: function(){
			return {
				filter: null,
				postbacks: null,
				tableStruct: [
					{
						key: 'id',
						label: 'ID', 
						sync: true, 
						disabled: true, 
						required: false
					},
					{
						key: 'type', 
						label: 'Tracking Type', 
						sync: true, 
						type: 'select', 
						required: true,
						options: 
							[
								{ text: 'on create', value: 0 },
								{ text: 'on charge', value: 1 },
								{ text: 'on cancel', value: 2 }
							]
					},
					{
						key: 'partnerId', 
						label: 'Partner ID', 
						sync: true, 
						disabled: true, 
						required: true, 
						ifNull: +this.$route.params.id 
					},
					{
						key: 'url', 
						label: 'Tracking URL', 
						sync: true, 
						type: 'input', 
						required: true,
						hint: '{click_id} - Click ID, {ext_click_id} - External click ID, {payout} - Partner payout, {sub_id} - Subscription ID'
					},
					{
						key: 'status', 
						label: 'Status', 
						sync: true, 
						type: 'select', 
						required: true,
						options: 
							[
								{ text: 'disabled', value: 0 },
								{ text: 'enabled', value: 1 }
							]
					},
					{
						key: 'state', 
						label: 'Actions', 
						sync: false, 
						required: false
					}
				],
			}
		},
		methods: {
			getPostbacks: function(){
				//console.log(this.$root.$options.router.options.routes);
				var self = this;
				axios({
					method: 'get',
					url: `${this.$store.state.apiDomain}partners/${this.$route.params.id}/postbacks`,
					headers: {
						Authorization: `Bearer ${this.$store.state.token}`
					},
					timeout: 7000
				})
				.then(function(response){
					self.postbacks = response.data;
				})
				.catch(function(error){
					if(error.response.status === 403) {
						self.$store.state.token = null;
						localStorage.removeItem('token');
						self.$router.push({name: 'Login'});
					}
				});
			}
		},
		created: function(){
			this.getPostbacks();
		}
	}

</script>