<template>
	<div>
	<b-container fluid @keyup.esc="cancelSaveRow" v-if="sites">
		<b-row>
			<b-col cols="12" md="8">
				<h1>Sites list <b-button variant="outline-primary" size="sm" @click.stop="$refs.partnerTableMain.addRow">Add new</b-button></h1>
			</b-col>
			<b-col cols="12" md="4">
				<b-form @submit.prevent>
					<b-form-input v-model="filter" placeholder="Type to filter" @keyup.native.esc="filter = null" />
				</b-form>
			</b-col>
		</b-row>
		<b-row>
			<b-col>
				
				<b-form @submit.prevent="onFormSubmit" v-if="sites">
					<EditableTable :tableData="sites" :filter="filter" :tableStruct="tableStruct" ref="partnerTableMain" dataType="sites" />
				</b-form>
			</b-col>
		</b-row>
		<b-row>
			<b-col :style="{textAlign: 'center'}">
				
			</b-col>
		</b-row>
	</b-container >
	<b-container fluid v-else>
		<spinner size="medium"></spinner>
	</b-container>
	</div>
</template>

<script>
	import axios from 'axios'
	import Spinner from 'vue-simple-spinner'
	import EditableTable from '@/components/EditableTable'

	export default {
		components: {Spinner, EditableTable},
		data: function(){
			return {
				filter: null,
				sites: null,
				tableStruct: [
					{
						key: 'id', label: 'ID', sync: true, disabled: true, required: false
					},
					{
						key: 'name', label: 'Site Name', sync: true, required: true, placeholder: 'Enter site name', type: 'input'
					},
					{
						key: 'url', label: 'Site URL', sync: true, required: false, placeholder: 'Enter site URL', type: 'input'
					},
					{
						key: 'trackingId', label: 'Tracking key', sync: true, required: false, placeholder: 'Enter tracking key', type: 'input'
					},
					{
						key: 'rebill', label: 'Rebil', sync: true, required: true, placeholder: 'Enter amount in RUB', type: 'input'
					},
					{
						key: 'partnerPayout', label: 'Partner Payout', sync: true, required: false, placeholder: 'Enter amount in RUB', type: 'input'
					},
					{
						key: 'state', label: 'Actions', sync: false, required: false
					}
				],
			}
		},
		methods: {
			getSites: function(){
				//console.log(this.$root.$options.router.options.routes);
				var self = this;
				axios({
					method: 'get',
					url: `${this.$store.state.apiDomain}sites`,
					headers: {
						Authorization: `Bearer ${this.$store.state.token}`
					}
				})
				.then(function(response){
					self.sites = response.data;
				})
				.catch(function(error){
					if(error.response.status === 403) {
						self.$store.state.token = null;
						localStorage.removeItem('token');
						self.$router.push({name: 'Login'});
					}
				});
			}
		},
		created: function(){
			this.getSites();
		}
	}

</script>