<template>
	<b-container fluid>
		<b-row>
			<b-col>
				<h1>{{$route.name}} {{ settings[statType].headerText }} </h1>
			</b-col>
		</b-row>
		<b-row>
			<b-col>
				<b-form @submit.prevent="getStats" id="form">
					<b-form-group
						label="Start date"
						class="inline-form"
						>
						<datepicker 
							name="start-date" 
							placeholder="Select Date" 
							v-model="formData.dateStart" 
							class="datepicker" 
							:monday-first=true 
							:disabledDates="{from: formData.dateEnd}" 
							@selectedDisabled=changeLimits
						></datepicker>
					</b-form-group>
					<b-form-group
						label="End date"
						class="inline-form">
						<datepicker 
							name="end-date" 
							placeholder="Select Date" 
							v-model="formData.dateEnd" 
							class="datepicker" 
							:monday-first=true 
							:disabledDates="{to: formData.dateStart}" 
							@selectedDisabled=changeLimits
						></datepicker>
					</b-form-group>
					<b-form-group
						label="Select partner"
						class="inline-form">
						<b-form-select
							name="partner" 
							v-model="formData.partners.selected" 
							:options="formData.partners.all"
						></b-form-select>
					</b-form-group>
          <b-form-group
            label="Select sub"
            class="inline-form">
            <b-form-select
              name="subPartner"
              v-model="formData.subPartners.selected"
              :options="formData.subPartners.all"
            ></b-form-select>
          </b-form-group>
					<b-form-group
						label="Select site"
						class="inline-form">
						<b-form-select 
							name="site" 
							v-model="formData.sites.selected" 
							:options="formData.sites.all"
						></b-form-select>
					</b-form-group>
					<b-form-group
						class="inline-form">
						<b-button
							type="submit" 
							variant="primary" 
							:disabled="!formData.dateStart || !formData.dateEnd"
						>Submit</b-button>
					</b-form-group>
				</b-form>
			</b-col>
		</b-row>
		
		<b-row>
			<b-col>
				<spinner size="medium" v-if="!statData"></spinner>
				<b-table 
					striped 
					hover 
					responsive="lg"
					stacked="sm"
					:items="statData" 
					v-if="statData" 
					:fields=settings[statType].dataFields 
					id="statTable">
				</b-table>
			</b-col>
		</b-row>
	</b-container>
</template>

<script>
	import axios from 'axios'
	import Datepicker from 'vuejs-datepicker'
	import Spinner from 'vue-simple-spinner'

	export default {
		props: ['statType'],
		components: {
			Datepicker, Spinner
		},
		data: function(){
			return {
				statData: [],
				formData: {
					//dateStart: this.$route.query.datestart ? new Date(this.$route.query.datestart * 1000) : new Date(new Date(new Date().setDate(1)).setHours(0,0,0,0)),
					dateStart: this.$route.query.datestart ? new Date(this.$route.query.datestart * 1000) : new Date(new Date().setHours(0,0,0,0)),
					dateEnd: this.$route.query.dateend ? new Date(this.$route.query.dateend * 1000) : new Date(new Date().setHours(23,59,59,0)),
					partners: {
						selected: this.$route.query.partner ? this.$route.query.partner : null,
						all: [],
						requestEndpoint: 'partners',
            valuesField: 'name'
					},
          subPartners: {
            selected: this.$route.query.subpartner ? this.$route.query.subpartner : null,
            all: [],
            requestEndpoint: 'subpartners',
            valuesField: 'externalId'
          },
					sites: {
						selected: this.$route.query.site ? this.$route.query.site : null,
						all: [],
						requestEndpoint: 'sites',
            valuesField: 'name'
					}
				},
				settings: {
					hourly: {
						headerText: 'by hour',
						dataFields: [
							{key: 'hour', sortable: true},
							{key: 'newSubs', sortable: true},
							{key: 'unSubs', sortable: true},
							{key: 'rebills', sortable: true},
							{key: 'sum', sortable: true},
							{key: 'partnerPayout', sortable: true} 
						],
						apiEndpoint: 'stats/hourly'
					},
					daily: {
						headerText: 'total daily',
						dataFields: [
							{key: 'date', sortable: true},
							{key: 'newSubs', sortable: true},
							{key: 'unSubs', sortable: true},
							{key: 'rebills', sortable: true},
							{key: 'sum', sortable: true},
							{key: 'partnerPayout', sortable: true} 
						],
						apiEndpoint: 'stats/daily'
					},
					partners: {
						headerText: 'by partners',
						dataFields: [
							{key: 'partnerName', sortable: true},
							{key: 'newSubs', sortable: true},
							{key: 'unSubs', sortable: true},
							{key: 'rebills', sortable: true},
							{key: 'sum', sortable: true},
							{key: 'partnerPayout', sortable: true} 
						],
						apiEndpoint: 'stats/partners'
					},
          subpartners: {
            headerText: 'by subpartners',
            dataFields: [
              {key: 'externalId', sortable: true},
              {key: 'newSubs', sortable: true},
              {key: 'unSubs', sortable: true},
              {key: 'rebills', sortable: true},
              {key: 'sum', sortable: true},
              {key: 'partnerPayout', sortable: true}
            ],
            apiEndpoint: 'stats/subpartners'
          },
					sites: {
						headerText: 'by sites',
						dataFields: [
							{key: 'siteName', sortable: true},
							{key: 'newSubs', sortable: true},
							{key: 'unSubs', sortable: true},
							{key: 'rebills', sortable: true},
							{key: 'sum', sortable: true},
							{key: 'partnerPayout', sortable: true} 
						],
						apiEndpoint: 'stats/sites'
					},
          sources: {
            headerText: 'by traffic sources',
            dataFields: [
              {key: 'externalId', sortable: true},
              {key: 'newSubs', sortable: true},
              {key: 'unSubs', sortable: true},
              {key: 'rebills', sortable: true},
              {key: 'sum', sortable: true},
              {key: 'partnerPayout', sortable: true}
            ],
            apiEndpoint: 'stats/sources'
          },
				},
				statData: null
			}

		},
		computed: {
			dataToSend: function(){
				return {
					datestart: (this.formData.dateStart.getTime()/1000).toFixed(0),
					dateend: (this.formData.dateEnd.getTime()/1000).toFixed(0),
					partner: this.formData.partners.selected,
					site: this.formData.sites.selected,
          subpartner: this.formData.subPartners.selected
				};
			}
		},
		watch: {
			statType: function(){
				this.getStats();
			}
		},
		methods: {
			changeLimits: function(e){
				this.formData.dateStart = null;
				this.formData.dateEnd = null;
			},
			getStats: function(){
				var self = this;
				this.statData = null;
				this.$router.replace({query: this.dataToSend});
				axios
					.get(this.$store.state.apiDomain + this.settings[this.statType].apiEndpoint, 
					{
						params: this.dataToSend,
						headers: {
							Authorization: `Bearer ${this.$store.state.token}`
						}
					})	
					.then(function(response){
						self.statData = response.data;
					})
					.catch(function(error){
						if(error.response.status === 403) {
							self.$store.state.token = null;
							localStorage.removeItem('token');
							self.$router.push({name: 'Login'});
						}
					});
			},
			getFormData: function(){
				let self = this;
				for(let key in this.formData){
					if(this.formData[key].requestEndpoint)
						axios
							.get(this.$store.state.apiDomain + this.formData[key].requestEndpoint, {
								headers: {
									Authorization: `Bearer ${this.$store.state.token}`
								}
							})	
							.then(function(response){
								self.formData[key].all = self.helperGetNames(response.data, self.formData[key].valuesField);
							})
							.catch(function(error){
								if(error.response.status === 403) {
									self.$store.state.token = null;
									localStorage.removeItem('token');
									self.$router.push({name: 'Login'});
								}
							});
				}
				
			},
			helperGetNames: function(responseData, valuesField = 'name') {
				let tmpArr = [{value: null, text: 'all'}];
				responseData.forEach(function(el){
					tmpArr.push({value: el.id, text: el[valuesField]});
				});
				return tmpArr;
			}
		},
		created: function(){
			this.getStats();
			this.getFormData();
		}
	}
</script>

<style>
@media (min-width: 576px){
	#form .inline-form {
		display: inline-block;
	}
}

	#form .datepicker input {
		padding: 6px;
    	border-radius: 5px;
    	border: 1px solid #ced4db;
	}

	#statTable tbody tr:last-child {
		font-weight: bold;
	}

	#statTable tbody tr:last-child td:first-child:before {
    	
	}
</style>
