<template>
	<div id="app">
      <NavHeader v-if="!$route.meta.isPublic || authenticated" />
      <b-container class="main" fluid>
         <router-view></router-view>
      </b-container>
		
	</div>
</template>

<script>
import NavHeader from './components/NavHeader.vue';

export default {
	name: 'app',
	components: {
		NavHeader
	},
	computed: {
		// isTokenValid: function(){
		// 	return new Date(this.$store.state.tokenExpires * 1000) > new Date() ? true : false;
		// },
		authenticated: function(){
			return this.$store.state.token ? true : false;
		},
		title: function(){
			return this.$route.meta.title;
		}
	},
	watch: {
		title: function(){
			document.title = this.title;
		}
	},
	beforeCreate: function() {
		if(!this.$store.state.token && !this.$route.meta.isPublic)
			this.$router.push({name: 'Login'});
	},
	created: function(){
		document.title = this.title;
	}
}
</script>

<style>
#app {
	font-family: 'Avenir Next', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/* text-align: center; */
	color: #2c3e50;
}

.main {
   padding-top: 20px;
}

.row {
	padding: 5px 0;
}

label {
   margin: 0;
}

/*
Extra small devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap
*/

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px){
	.container-fluid {
		padding: 5px!important;
	}
}

</style>
